body {
  /*background-color: #1E1E1E; /* Цвет фона */
  background-image: 
  url("data:image/svg+xml,%3Csvg width='1739' height='1186' viewBox='40 140 1739 1186' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1724.91 826.828L1724.1 826L1723.29 825.173L1722.48 824.345L1721.67 823.517L1720.86 822.69L1703.85 822.69L1728.95 846.69L1728.95 830.966L1727.34 829.311L1726.53 828.483L1725.72 827.655L1724.91 826.828Z' fill='%23930009'/%3E%3Cpath d='M1711.15 850.496L1705.01 844.213L1699.29 838.367L1694.2 833.168L1689.11 827.97L1683.19 822.335L1666.21 821.937L1729.7 885.177L1729.34 868.934L1726.41 866.092L1721.33 860.893L1716.24 855.695L1711.15 850.496Z' fill='%23930009'/%3E%3Cpath d='M1697.81 875.683L1688.64 866.308L1680.1 857.586L1672.51 849.83L1645.31 821.69L1634.79 821.69L1634.93 828.798L1729.26 923.558L1729.26 907.761L1720.57 898.951L1712.99 891.195L1705.4 883.439L1697.81 875.683Z' fill='%23930009'/%3E%3Cpath d='M1699.12 915.477L1689.95 906.103L1681.41 897.38L1673.82 889.624L1646.12 861.898L1636.41 852.794L1636.24 868.592L1730.57 963.352L1730.57 947.555L1721.88 938.745L1714.3 930.989L1706.71 923.233L1699.12 915.477Z' fill='%23930009'/%3E%3Cpath d='M1697.63 954.29L1688.46 944.915L1679.92 936.193L1672.33 928.437L1644.63 900.711L1634.92 891.607L1634.75 907.405L1729.08 1002.16L1729.08 986.368L1720.39 977.558L1712.81 969.802L1705.22 962.046L1697.63 954.29Z' fill='%23930009'/%3E%3Cpath d='M1697.63 994.015L1688.46 984.641L1679.92 975.918L1672.33 968.162L1644.63 940.436L1634.92 931.332L1634.75 947.13L1729.08 1041.89L1729.08 1026.09L1720.39 1017.28L1712.81 1009.53L1705.22 1001.77L1697.63 994.015Z' fill='%23930009'/%3E%3Cpath d='M1697.63 1033.74L1688.46 1024.37L1679.92 1015.64L1672.33 1007.89L1644.63 980.161L1634.92 971.058L1634.75 986.855L1729.08 1081.62L1729.08 1065.82L1720.39 1057.01L1712.81 1049.25L1705.22 1041.5L1697.63 1033.74Z' fill='%23930009'/%3E%3Cpath d='M1697.53 1075.39L1688.35 1066.02L1679.82 1057.3L1672.23 1049.54L1644.53 1021.82L1634.81 1012.71L1634.65 1028.51L1728.98 1123.27L1728.98 1107.47L1720.29 1098.66L1712.7 1090.91L1705.12 1083.15L1697.53 1075.39Z' fill='%23930009'/%3E%3Cpath d='M1697.53 1114.42L1688.35 1105.04L1679.82 1096.32L1672.23 1088.56L1644.53 1060.84L1634.81 1051.73L1634.65 1067.53L1728.98 1162.29L1728.98 1146.49L1720.29 1137.68L1712.7 1129.93L1705.12 1122.17L1697.53 1114.42Z' fill='%23930009'/%3E%3Cpath d='M1085.41 1173.14L1084.6 1172.34L1083.78 1171.55L1082.97 1170.75L1082.16 1169.96L1081.35 1169.16L1081.35 1152.46L1104.92 1177.12L1089.47 1177.12L1087.85 1175.52L1087.04 1174.73L1086.22 1173.93L1085.41 1173.14Z' fill='%23930009'/%3E%3Cpath d='M1108.02 1157.99L1102.12 1152.22L1096.64 1146.86L1091.76 1142.09L1086.88 1137.31L1081.61 1131.75L1081.61 1115.45L1140.9 1175.05L1125.31 1175.05L1122.65 1172.31L1117.77 1167.54L1112.89 1162.76L1108.02 1157.99Z' fill='%23930009'/%3E%3Cpath d='M1132.39 1145.54L1123.19 1136.53L1114.62 1128.15L1107 1120.7L1079.36 1093.98L1079.36 1083.64L1086.35 1083.79L1179.42 1176.44L1163.9 1176.44L1155.25 1167.9L1147.63 1160.45L1140.01 1153L1132.39 1145.54Z' fill='%23930009'/%3E%3Cpath d='M1171.48 1146.83L1162.27 1137.82L1153.7 1129.44L1146.08 1121.99L1118.85 1094.78L1109.91 1085.23L1125.43 1085.07L1218.5 1177.72L1202.98 1177.72L1194.33 1169.19L1186.71 1161.74L1179.09 1154.28L1171.48 1146.83Z' fill='%23930009'/%3E%3Cpath d='M1209.6 1145.37L1200.39 1136.36L1191.82 1127.97L1184.21 1120.52L1156.98 1093.31L1148.03 1083.77L1163.55 1083.61L1256.62 1176.26L1241.1 1176.26L1232.45 1167.73L1224.83 1160.27L1217.22 1152.82L1209.6 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1248.61 1145.37L1239.41 1136.36L1230.84 1127.97L1223.22 1120.52L1195.99 1093.31L1187.05 1083.77L1202.57 1083.61L1295.64 1176.26L1280.12 1176.26L1271.47 1167.73L1263.85 1160.27L1256.23 1152.82L1248.61 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1287.63 1145.37L1278.42 1136.36L1269.86 1127.97L1262.24 1120.52L1235.01 1093.31L1226.07 1083.77L1241.58 1083.61L1334.65 1176.26L1319.14 1176.26L1310.49 1167.73L1302.87 1160.27L1295.25 1152.82L1287.63 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1328.54 1145.27L1319.34 1136.26L1310.77 1127.88L1303.15 1120.42L1275.92 1093.21L1266.98 1083.67L1282.49 1083.51L1375.56 1176.16L1360.05 1176.16L1351.4 1167.63L1343.78 1160.17L1336.16 1152.72L1328.54 1145.27Z' fill='%23930009'/%3E%3Cpath d='M1366.87 1145.27L1357.66 1136.26L1349.09 1127.88L1341.48 1120.42L1314.25 1093.21L1305.3 1083.67L1320.82 1083.51L1413.89 1176.16L1398.37 1176.16L1389.72 1167.63L1382.1 1160.17L1374.49 1152.72L1366.87 1145.27Z' fill='%23930009'/%3E%3Cpath d='M1404.93 1145.37L1395.72 1136.36L1387.16 1127.97L1379.54 1120.52L1352.31 1093.31L1343.37 1083.77L1358.88 1083.61L1451.95 1176.26L1436.44 1176.26L1427.78 1167.73L1420.17 1160.27L1412.55 1152.82L1404.93 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1443.95 1145.37L1434.74 1136.36L1426.17 1127.97L1418.55 1120.52L1391.32 1093.31L1382.38 1083.77L1397.9 1083.61L1490.97 1176.26L1475.45 1176.26L1466.8 1167.73L1459.18 1160.27L1451.56 1152.82L1443.95 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1484.86 1145.27L1475.65 1136.26L1467.08 1127.88L1459.47 1120.42L1432.23 1093.21L1423.29 1083.67L1438.81 1083.51L1531.88 1176.16L1516.36 1176.16L1507.71 1167.63L1500.09 1160.17L1492.48 1152.72L1484.86 1145.27Z' fill='%23930009'/%3E%3Cpath d='M1523.18 1145.27L1513.98 1136.26L1505.41 1127.88L1497.79 1120.42L1470.56 1093.21L1461.62 1083.67L1477.13 1083.51L1570.2 1176.16L1554.69 1176.16L1546.04 1167.63L1538.42 1160.17L1530.8 1152.72L1523.18 1145.27Z' fill='%23930009'/%3E%3Cpath d='M1558.3 1145.37L1549.09 1136.36L1540.52 1127.97L1532.91 1120.52L1505.67 1093.31L1496.73 1083.77L1512.25 1083.61L1605.32 1176.26L1589.8 1176.26L1581.15 1167.73L1573.53 1160.27L1565.92 1152.82L1558.3 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1597.31 1145.37L1588.11 1136.36L1579.54 1127.97L1571.92 1120.52L1544.69 1093.31L1535.75 1083.77L1551.26 1083.61L1644.33 1176.26L1628.82 1176.26L1620.17 1167.73L1612.55 1160.27L1604.93 1152.82L1597.31 1145.37Z' fill='%23930009'/%3E%3Cpath d='M1638.23 1145.27L1629.02 1136.26L1620.45 1127.88L1612.83 1120.42L1585.6 1093.21L1576.66 1083.67L1592.18 1083.51L1685.25 1176.16L1669.73 1176.16L1661.08 1167.63L1653.46 1160.17L1645.84 1152.72L1638.23 1145.27Z' fill='%23930009'/%3E%3Cpath d='M1676.55 1145.27L1667.34 1136.26L1658.78 1127.88L1651.16 1120.42L1623.93 1093.21L1614.99 1083.67L1630.5 1083.51L1723.57 1176.16L1708.06 1176.16L1699.4 1167.63L1691.79 1160.17L1684.17 1152.72L1676.55 1145.27Z' fill='%23930009'/%3E%3Crect x='1070' y='1084' width='92' height='1070' transform='rotate(90 1070 1084)' fill='%23930009'/%3E%3Cpath d='M1731 813L1633 813L1633 2.38575e-05L1731 3.24249e-05L1731 813Z' fill='%23930009'/%3E%3C/svg%3E%0A"),
  /*url("data:image/svg+xml,%3Csvg width='1739' height='1186' viewBox='10 120 1739 1186' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1725.91 826.828L1725.1 826L1724.29 825.173L1723.48 824.345L1722.67 823.517L1721.86 822.69L1704.85 822.69L1729.96 846.69L1729.96 830.966L1728.34 829.311L1727.53 828.483L1726.72 827.655L1725.91 826.828Z' fill='%236D0006'/%3E%3Cpath d='M1712.52 848.829L1706.65 842.827L1701.19 837.242L1696.33 832.276L1691.47 827.311L1685.8 821.937L1669.21 821.937L1729.89 882.308L1729.89 866.437L1727.1 863.725L1722.24 858.76L1717.38 853.794L1712.52 848.829Z' fill='%236D0006'/%3E%3Cpath d='M1697.81 875.683L1688.64 866.308L1680.1 857.586L1672.51 849.83L1645.31 821.69L1634.79 821.69L1634.93 828.798L1729.27 923.558L1729.27 907.761L1720.58 898.951L1712.99 891.195L1705.4 883.439L1697.81 875.683Z' fill='%236D0006'/%3E%3Cpath d='M1699.12 915.477L1689.95 906.103L1681.41 897.38L1673.82 889.624L1646.12 861.898L1636.41 852.794L1636.24 868.592L1730.58 963.352L1730.58 947.555L1721.89 938.745L1714.3 930.989L1706.71 923.233L1699.12 915.477Z' fill='%236D0006'/%3E%3Cpath d='M1697.63 954.29L1688.46 944.915L1679.92 936.193L1672.33 928.437L1644.63 900.711L1634.92 891.607L1634.75 907.405L1729.09 1002.16L1729.09 986.368L1720.4 977.558L1712.81 969.802L1705.22 962.046L1697.63 954.29Z' fill='%236D0006'/%3E%3Cpath d='M1697.63 994.015L1688.46 984.641L1679.92 975.918L1672.33 968.162L1644.63 940.436L1634.92 931.332L1634.75 947.13L1729.09 1041.89L1729.09 1026.09L1720.4 1017.28L1712.81 1009.53L1705.22 1001.77L1697.63 994.015Z' fill='%236D0006'/%3E%3Cpath d='M1697.63 1033.74L1688.46 1024.37L1679.92 1015.64L1672.33 1007.89L1644.63 980.161L1634.92 971.058L1634.75 986.855L1729.09 1081.62L1729.09 1065.82L1720.4 1057.01L1712.81 1049.25L1705.22 1041.5L1697.63 1033.74Z' fill='%236D0006'/%3E%3Cpath d='M1697.53 1075.39L1688.36 1066.02L1679.82 1057.3L1672.23 1049.54L1644.53 1021.82L1634.81 1012.71L1634.65 1028.51L1728.98 1123.27L1728.98 1107.47L1720.29 1098.66L1712.71 1090.91L1705.12 1083.15L1697.53 1075.39Z' fill='%236D0006'/%3E%3Cpath d='M1697.53 1114.42L1688.36 1105.04L1679.82 1096.32L1672.23 1088.56L1644.53 1060.84L1634.81 1051.73L1634.65 1067.53L1728.98 1162.29L1728.98 1146.49L1720.29 1137.68L1712.71 1129.93L1705.12 1122.17L1697.53 1114.42Z' fill='%236D0006'/%3E%3Cpath d='M1085.41 1173.14L1084.6 1172.34L1083.79 1171.55L1082.97 1170.75L1082.16 1169.96L1081.35 1169.16L1081.35 1152.46L1104.92 1177.12L1089.48 1177.12L1087.85 1175.52L1087.04 1174.73L1086.22 1173.93L1085.41 1173.14Z' fill='%236D0006'/%3E%3Cpath d='M1108.02 1157.99L1102.12 1152.22L1096.64 1146.86L1091.76 1142.09L1086.88 1137.31L1081.61 1131.75L1081.61 1115.45L1140.9 1175.05L1125.31 1175.05L1122.65 1172.31L1117.77 1167.54L1112.9 1162.76L1108.02 1157.99Z' fill='%236D0006'/%3E%3Cpath d='M1132.4 1145.54L1123.19 1136.53L1114.62 1128.15L1107 1120.7L1079.37 1093.98L1079.37 1083.64L1086.35 1083.79L1179.42 1176.44L1163.9 1176.44L1155.25 1167.9L1147.63 1160.45L1140.01 1153L1132.4 1145.54Z' fill='%236D0006'/%3E%3Cpath d='M1171.48 1146.83L1162.27 1137.82L1153.7 1129.44L1146.09 1121.99L1118.85 1094.78L1109.91 1085.23L1125.43 1085.07L1218.5 1177.72L1202.98 1177.72L1194.33 1169.19L1186.71 1161.74L1179.1 1154.28L1171.48 1146.83Z' fill='%236D0006'/%3E%3Cpath d='M1209.6 1145.37L1200.39 1136.36L1191.83 1127.97L1184.21 1120.52L1156.98 1093.31L1148.04 1083.77L1163.55 1083.61L1256.62 1176.26L1241.11 1176.26L1232.45 1167.73L1224.84 1160.27L1217.22 1152.82L1209.6 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1248.62 1145.37L1239.41 1136.36L1230.84 1127.97L1223.22 1120.52L1195.99 1093.31L1187.05 1083.77L1202.57 1083.61L1295.64 1176.26L1280.12 1176.26L1271.47 1167.73L1263.85 1160.27L1256.23 1152.82L1248.62 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1287.63 1145.37L1278.43 1136.36L1269.86 1127.97L1262.24 1120.52L1235.01 1093.31L1226.07 1083.77L1241.58 1083.61L1334.65 1176.26L1319.14 1176.26L1310.49 1167.73L1302.87 1160.27L1295.25 1152.82L1287.63 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1328.54 1145.27L1319.34 1136.26L1310.77 1127.88L1303.15 1120.42L1275.92 1093.21L1266.98 1083.67L1282.5 1083.51L1375.57 1176.16L1360.05 1176.16L1351.4 1167.63L1343.78 1160.17L1336.16 1152.72L1328.54 1145.27Z' fill='%236D0006'/%3E%3Cpath d='M1366.87 1145.27L1357.66 1136.26L1349.1 1127.88L1341.48 1120.42L1314.25 1093.21L1305.3 1083.67L1320.82 1083.51L1413.89 1176.16L1398.38 1176.16L1389.72 1167.63L1382.11 1160.17L1374.49 1152.72L1366.87 1145.27Z' fill='%236D0006'/%3E%3Cpath d='M1404.93 1145.37L1395.72 1136.36L1387.16 1127.97L1379.54 1120.52L1352.31 1093.31L1343.37 1083.77L1358.88 1083.61L1451.95 1176.26L1436.44 1176.26L1427.78 1167.73L1420.17 1160.27L1412.55 1152.82L1404.93 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1443.95 1145.37L1434.74 1136.36L1426.17 1127.97L1418.56 1120.52L1391.32 1093.31L1382.38 1083.77L1397.9 1083.61L1490.97 1176.26L1475.45 1176.26L1466.8 1167.73L1459.18 1160.27L1451.57 1152.82L1443.95 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1484.86 1145.27L1475.65 1136.26L1467.08 1127.88L1459.47 1120.42L1432.24 1093.21L1423.29 1083.67L1438.81 1083.51L1531.88 1176.16L1516.36 1176.16L1507.71 1167.63L1500.09 1160.17L1492.48 1152.72L1484.86 1145.27Z' fill='%236D0006'/%3E%3Cpath d='M1523.18 1145.27L1513.98 1136.26L1505.41 1127.88L1497.79 1120.42L1470.56 1093.21L1461.62 1083.67L1477.13 1083.51L1570.2 1176.16L1554.69 1176.16L1546.04 1167.63L1538.42 1160.17L1530.8 1152.72L1523.18 1145.27Z' fill='%236D0006'/%3E%3Cpath d='M1558.3 1145.37L1549.09 1136.36L1540.52 1127.97L1532.91 1120.52L1505.67 1093.31L1496.73 1083.77L1512.25 1083.61L1605.32 1176.26L1589.8 1176.26L1581.15 1167.73L1573.53 1160.27L1565.92 1152.82L1558.3 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1597.32 1145.37L1588.11 1136.36L1579.54 1127.97L1571.92 1120.52L1544.69 1093.31L1535.75 1083.77L1551.27 1083.61L1644.34 1176.26L1628.82 1176.26L1620.17 1167.73L1612.55 1160.27L1604.93 1152.82L1597.32 1145.37Z' fill='%236D0006'/%3E%3Cpath d='M1638.23 1145.27L1629.02 1136.26L1620.45 1127.88L1612.83 1120.42L1585.6 1093.21L1576.66 1083.67L1592.18 1083.51L1685.25 1176.16L1669.73 1176.16L1661.08 1167.63L1653.46 1160.17L1645.84 1152.72L1638.23 1145.27Z' fill='%236D0006'/%3E%3Cpath d='M1676.55 1145.27L1667.34 1136.26L1658.78 1127.88L1651.16 1120.42L1623.93 1093.21L1614.99 1083.67L1630.5 1083.51L1723.57 1176.16L1708.06 1176.16L1699.4 1167.63L1691.79 1160.17L1684.17 1152.72L1676.55 1145.27Z' fill='%236D0006'/%3E%3Crect x='1070' y='1084' width='92' height='1070' transform='rotate(90 1070 1084)' fill='%236D0006'/%3E%3Cpath d='M1731 813L1633 813L1633 2.38575e-05L1731 3.24249e-05L1731 813Z' fill='%236D0006'/%3E%3C/svg%3E%0A"),
  url("data:image/svg+xml,%3Csvg width='1739' height='1186' viewBox='10 120 1739 1186' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1725.91 826.828L1725.1 826L1724.29 825.173L1723.48 824.345L1722.67 823.517L1721.86 822.69L1704.85 822.69L1729.96 846.69L1729.96 830.966L1728.34 829.311L1727.53 828.483L1726.72 827.655L1725.91 826.828Z' fill='%23FF000F'/%3E%3Cpath d='M1712.52 848.828L1706.65 842.826L1701.19 837.242L1696.33 832.276L1691.47 827.311L1685.8 821.937L1669.21 821.937L1729.89 882.308L1729.89 866.437L1727.1 863.725L1722.24 858.76L1717.38 853.794L1712.52 848.828Z' fill='%23FF000F'/%3E%3Cpath d='M1697.81 875.683L1688.64 866.308L1680.1 857.586L1672.51 849.83L1645.31 821.69L1634.79 821.69L1634.93 828.798L1729.27 923.558L1729.27 907.761L1720.58 898.951L1712.99 891.195L1705.4 883.439L1697.81 875.683Z' fill='%23FF000F'/%3E%3Cpath d='M1699.12 915.477L1689.95 906.103L1681.41 897.38L1673.82 889.624L1646.12 861.898L1636.41 852.794L1636.24 868.592L1730.58 963.352L1730.58 947.555L1721.89 938.745L1714.3 930.989L1706.71 923.233L1699.12 915.477Z' fill='%23FF000F'/%3E%3Cpath d='M1697.63 954.29L1688.46 944.915L1679.92 936.193L1672.33 928.437L1644.63 900.711L1634.92 891.607L1634.75 907.405L1729.09 1002.16L1729.09 986.368L1720.4 977.558L1712.81 969.802L1705.22 962.046L1697.63 954.29Z' fill='%23FF000F'/%3E%3Cpath d='M1697.63 994.015L1688.46 984.641L1679.92 975.918L1672.33 968.162L1644.63 940.436L1634.92 931.332L1634.75 947.13L1729.09 1041.89L1729.09 1026.09L1720.4 1017.28L1712.81 1009.53L1705.22 1001.77L1697.63 994.015Z' fill='%23FF000F'/%3E%3Cpath d='M1697.63 1033.74L1688.46 1024.37L1679.92 1015.64L1672.33 1007.89L1644.63 980.161L1634.92 971.058L1634.75 986.855L1729.09 1081.62L1729.09 1065.82L1720.4 1057.01L1712.81 1049.25L1705.22 1041.5L1697.63 1033.74Z' fill='%23FF000F'/%3E%3Cpath d='M1697.53 1075.39L1688.36 1066.02L1679.82 1057.3L1672.23 1049.54L1644.53 1021.82L1634.81 1012.71L1634.65 1028.51L1728.98 1123.27L1728.98 1107.47L1720.29 1098.66L1712.71 1090.91L1705.12 1083.15L1697.53 1075.39Z' fill='%23FF000F'/%3E%3Cpath d='M1697.53 1114.42L1688.36 1105.04L1679.82 1096.32L1672.23 1088.56L1644.53 1060.84L1634.81 1051.73L1634.65 1067.53L1728.98 1162.29L1728.98 1146.49L1720.29 1137.68L1712.71 1129.93L1705.12 1122.17L1697.53 1114.42Z' fill='%23FF000F'/%3E%3Cpath d='M1085.41 1173.14L1084.6 1172.34L1083.79 1171.55L1082.97 1170.75L1082.16 1169.96L1081.35 1169.16L1081.35 1152.46L1104.92 1177.12L1089.48 1177.12L1087.85 1175.52L1087.04 1174.73L1086.22 1173.93L1085.41 1173.14Z' fill='%23FF000F'/%3E%3Cpath d='M1108.02 1157.99L1102.12 1152.22L1096.64 1146.86L1091.76 1142.09L1086.88 1137.31L1081.61 1131.75L1081.61 1115.45L1140.9 1175.05L1125.31 1175.05L1122.65 1172.31L1117.77 1167.54L1112.9 1162.76L1108.02 1157.99Z' fill='%23FF000F'/%3E%3Cpath d='M1132.4 1145.54L1123.19 1136.53L1114.62 1128.15L1107 1120.7L1079.37 1093.98L1079.37 1083.64L1086.35 1083.79L1179.42 1176.44L1163.9 1176.44L1155.25 1167.9L1147.63 1160.45L1140.01 1153L1132.4 1145.54Z' fill='%23FF000F'/%3E%3Cpath d='M1171.48 1146.83L1162.27 1137.82L1153.7 1129.44L1146.09 1121.99L1118.85 1094.78L1109.91 1085.23L1125.43 1085.07L1218.5 1177.72L1202.98 1177.72L1194.33 1169.19L1186.71 1161.74L1179.1 1154.28L1171.48 1146.83Z' fill='%23FF000F'/%3E%3Cpath d='M1209.6 1145.37L1200.39 1136.36L1191.83 1127.97L1184.21 1120.52L1156.98 1093.31L1148.04 1083.77L1163.55 1083.61L1256.62 1176.26L1241.11 1176.26L1232.45 1167.73L1224.84 1160.27L1217.22 1152.82L1209.6 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1248.62 1145.37L1239.41 1136.36L1230.84 1127.97L1223.22 1120.52L1195.99 1093.31L1187.05 1083.77L1202.57 1083.61L1295.64 1176.26L1280.12 1176.26L1271.47 1167.73L1263.85 1160.27L1256.23 1152.82L1248.62 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1287.63 1145.37L1278.43 1136.36L1269.86 1127.97L1262.24 1120.52L1235.01 1093.31L1226.07 1083.77L1241.58 1083.61L1334.65 1176.26L1319.14 1176.26L1310.49 1167.73L1302.87 1160.27L1295.25 1152.82L1287.63 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1328.54 1145.27L1319.34 1136.26L1310.77 1127.88L1303.15 1120.42L1275.92 1093.21L1266.98 1083.67L1282.5 1083.51L1375.57 1176.16L1360.05 1176.16L1351.4 1167.63L1343.78 1160.17L1336.16 1152.72L1328.54 1145.27Z' fill='%23FF000F'/%3E%3Cpath d='M1366.87 1145.27L1357.66 1136.26L1349.1 1127.88L1341.48 1120.42L1314.25 1093.21L1305.3 1083.67L1320.82 1083.51L1413.89 1176.16L1398.38 1176.16L1389.72 1167.63L1382.11 1160.17L1374.49 1152.72L1366.87 1145.27Z' fill='%23FF000F'/%3E%3Cpath d='M1404.93 1145.37L1395.72 1136.36L1387.16 1127.97L1379.54 1120.52L1352.31 1093.31L1343.37 1083.77L1358.88 1083.61L1451.95 1176.26L1436.44 1176.26L1427.78 1167.73L1420.17 1160.27L1412.55 1152.82L1404.93 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1443.95 1145.37L1434.74 1136.36L1426.17 1127.97L1418.56 1120.52L1391.32 1093.31L1382.38 1083.77L1397.9 1083.61L1490.97 1176.26L1475.45 1176.26L1466.8 1167.73L1459.18 1160.27L1451.57 1152.82L1443.95 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1484.86 1145.27L1475.65 1136.26L1467.08 1127.88L1459.47 1120.42L1432.24 1093.21L1423.29 1083.67L1438.81 1083.51L1531.88 1176.16L1516.36 1176.16L1507.71 1167.63L1500.09 1160.17L1492.48 1152.72L1484.86 1145.27Z' fill='%23FF000F'/%3E%3Cpath d='M1523.18 1145.27L1513.98 1136.26L1505.41 1127.88L1497.79 1120.42L1470.56 1093.21L1461.62 1083.67L1477.13 1083.51L1570.2 1176.16L1554.69 1176.16L1546.04 1167.63L1538.42 1160.17L1530.8 1152.72L1523.18 1145.27Z' fill='%23FF000F'/%3E%3Cpath d='M1558.3 1145.37L1549.09 1136.36L1540.52 1127.97L1532.91 1120.52L1505.67 1093.31L1496.73 1083.77L1512.25 1083.61L1605.32 1176.26L1589.8 1176.26L1581.15 1167.73L1573.53 1160.27L1565.92 1152.82L1558.3 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1597.32 1145.37L1588.11 1136.36L1579.54 1127.97L1571.92 1120.52L1544.69 1093.31L1535.75 1083.77L1551.27 1083.61L1644.34 1176.26L1628.82 1176.26L1620.17 1167.73L1612.55 1160.27L1604.93 1152.82L1597.32 1145.37Z' fill='%23FF000F'/%3E%3Cpath d='M1638.23 1145.27L1629.02 1136.26L1620.45 1127.88L1612.83 1120.42L1585.6 1093.21L1576.66 1083.67L1592.18 1083.51L1685.25 1176.16L1669.73 1176.16L1661.08 1167.63L1653.46 1160.17L1645.84 1152.72L1638.23 1145.27Z' fill='%23FF000F'/%3E%3Cpath d='M1676.55 1145.27L1667.34 1136.26L1658.78 1127.88L1651.16 1120.42L1623.93 1093.21L1614.99 1083.67L1630.5 1083.51L1723.57 1176.16L1708.06 1176.16L1699.4 1167.63L1691.79 1160.17L1684.17 1152.72L1676.55 1145.27Z' fill='%23FF000F'/%3E%3Crect x='1070' y='1084' width='92' height='1070' transform='rotate(90 1070 1084)' fill='%23FF000F'/%3E%3Cpath d='M1731 813L1633 813L1633 2.38575e-05L1731 3.24249e-05L1731 813Z' fill='%23FF000F'/%3E%3C/svg%3E%0A"),
  */url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1080" height="1080" viewBox="0 0 1080 1080" xml:space="preserve"><desc>Created with Fabric.js 5.2.4</desc><defs></defs><g transform="matrix(1 0 0 1 540 540)" id="6a4b2208-05d2-48df-b58c-53b45cee6809" ><rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(30,30,30); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080" height="1080" /></g><g transform="matrix(1 0 0 1 540 540)" id="02e11fa6-7794-4810-bc52-f09a70a1db88" ></g><g transform="matrix(NaN NaN NaN NaN 0 0)" ><g style="" ></g></g><g transform="matrix(NaN NaN NaN NaN 0 0)" ><g style="" ></g></g><g transform="matrix(NaN NaN NaN NaN 0 0)" ><g style="" ></g></g><g transform="matrix(NaN NaN NaN NaN 0 0)" ><g style="" ></g></g></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.text-uppercase-btn {
  color: white; /* цвет текста - белый */
  padding: 20px; /* добавляем внутренний отступ для улучшенного визуального отображения */
  /*margin: 10px; /* установка внешних отступов */
  align-items: center; /* выравнивание текста по центру */
  text-transform: uppercase; /* Применяем стиль капсом */
  /*display: flex; /* Устанавливаем отображение в виде колонны */
  flex-direction: column; /* Располагаем текст в колонну */
  font-size: 350%;
  position: absolute;
}

.text-uppercase {
  list-style-type: none; /* убираем маркеры списка */
  text-decoration: none; /* убираем стандартное подчеркивание ссылки */
  color: white; /* цвет текста - белый */
  padding: 25px; /* добавляем внутренний отступ для улучшенного визуального отображения */
  /*margin: 10px; /* установка внешних отступов */
  align-items: center; /* выравнивание текста по центру */
  text-transform: uppercase; /* Применяем стиль капсом */
  display: flex; /* Устанавливаем отображение в виде колонны */
  flex-direction: column; /* Располагаем текст в колонну */
  font-size: 350%;
	border: none;
  font: inherit;
}

.text-list {
  list-style-type: none; /* убираем маркеры списка */
  text-decoration: none; /* убираем стандартное подчеркивание ссылки */
  color: white; /* цвет текста - белый */
  padding: 1.6vh; /* добавляем внутренний отступ для улучшенного визуального отображения */
  /*margin: 10px; /* установка внешних отступов */
  align-items: right; /* выравнивание текста по центру */
  /*text-transform: uppercase; /* Применяем стиль капсом */
  display: flex; /* Устанавливаем отображение в виде колонны */
  flex-direction: column; /* Располагаем текст в колонну */
  font-size: 150%;
	border: none;
  font: inherit;
}

.text-list-fields {
  list-style-type: none; /* убираем маркеры списка */
  text-decoration: none; /* убираем стандартное подчеркивание ссылки */
  color: white; /* цвет текста - белый */
  padding: 1.6vh; /* добавляем внутренний отступ для улучшенного визуального отображения */
  /*margin: 10px; /* установка внешних отступов */
  align-items: right; /* выравнивание текста по центру */
  /*text-transform: uppercase; /* Применяем стиль капсом */
  display: flex; /* Устанавливаем отображение в виде колонны */
  flex-direction: column; /* Располагаем текст в колонну */
  font-size: 150%;
	border: none;
  font: inherit;
}

.text-uppercase-name-str {
  list-style-type: none; /* убираем маркеры списка */
  text-decoration: none; /* убираем стандартное подчеркивание ссылки */
  color: white; /* цвет текста - белый */
  padding: 25px; /* добавляем внутренний отступ для улучшенного визуального отображения */
  /*margin: 10px; /* установка внешних отступов */
  align-items: center; /* выравнивание текста по центру */
  text-transform: uppercase; /* Применяем стиль капсом */
  display: flex; /* Устанавливаем отображение в виде колонны */
  flex-direction: column; /* Располагаем текст в колонну */
  font-size: 350%;
  margin-top: -40%;
  margin-right: 10%;
	border: none;
  font: inherit;
  
}

.input-normale{
  font-size: 100%;
  padding-top: 10%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none; /* Убирает обводку при фокусировке */
}

a{
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;
  font-size: 100%;
}

button{
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;
  font-size: 100%;
  background: none;
  border: none;
  margin: 18px;
}

h3{
  margin-bottom: 10vh;
  font-size: 1.47em;
  font-weight: bold;
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;

}

.div-conteiner-progects{
  margin-top: 15%;
  margin-right: 0%;
  flex-direction: row;
  justify-content: center;
  width: 700px;
  height: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.div-progects {
  width: 180px;
  height: 170px;
  min-width: 180px;
  max-width: 180px;
  min-height: 170px;
  max-height: 170px;
  position: relative;
  text-align: center;
  border: 2.5px solid white;
}

/* Стиль для фокусировки на поле input */
.input-normale:focus {
  border-bottom: 1px solid white;
}

input{
  font-size: 100%;
  padding-top: 10%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none; /* Убирает обводку при фокусировке */
}

/* Стиль для фокусировки на поле input */
input:focus {
  border-bottom: 1px solid white;
}

/*
a {
  text-decoration: none;
  transition: all 0.3s ease; 
  position: relative; 
}

a::before, a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  transition: all 0.3s ease;
  background-color: #333; 
}

a::before {
  left: 50%;
  background: #FFD700; 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

a::after {
  right: 50%;
  background: #FFD700; 
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.5s ease;
}

a:hover {
  font-size: 2.1em; 
}

a:hover::before, a:hover::after {
  width: 50%; 
}

a:hover::before {
  clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}

a:hover::after {
  clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}
*/
.animated-text-1 {
  background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.animated-text-1:hover {
  --d: 20px;
  font-size: 2.5em;
}

.animated-text-btn {
  background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.animated-text-btn:hover {
  --d: 20px;
}


.animated-text {
  background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
.animated-text:hover {
  --d: 20px;
  font-size: 600%;
}

.logo{
  position: absolute;
  top: 0vh;
  left: -4vh;
}

.bot{
  position: absolute;
  top: -110vh;
  left: -40vh;
}

.familjen-grotesk-logo{
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: weight;
  font-style: normal;
  font-size: 350%;
}

.familjen-grotesk{
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;
  font-size: 150%;
}

.familjen-grotesk-list{
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;
  font-size: 100%;
}

.familjen-grotesk-name-str{
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;
  font-size: 250%;
}

.avatar {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  width: 50%;
  padding: 20px;
}
  
.right {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.right label {
  margin-bottom: 10px;
}
  
.right input {
  font-size: 100%;
  padding-top: 10%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none; 
  border-bottom: 1px solid white;
}
  
.description {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.left {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
  
.left label {
  margin-bottom: 10px;
}
  
.left input {
  font-size: 100%;
  padding-top: 15%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none; 
  border-bottom: 1px solid white;
}
  
.left textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.names {
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  color: white;
  font-style: normal;
  font-size: 100%;
}

.columns-container {
  column-count: 2;
}

.columns-container-all {
  column-count: 3;
}

.columns-container div {
  break-inside: avoid; /* для предотвращения разрывов колонок внутри div */
}